[package]
name = "axum-otel-metrics"
version = "0.3.0"
edition = "2021"
license = "MIT"
description = "axum OpenTelemetry metrics middleware with prometheus exporter"
homepage = "https://ttys3.dev/"
repository = "https://github.com/ttys3/axum-otel-metrics/"
documentation = "https://docs.rs/axum-otel-metrics"
readme = "README.md"
exclude = [".github/*", "examples/*", "tests/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
#axum = { git = "https://github.com/tokio-rs/axum.git", branch = "main"}
axum = "0.6.15"
opentelemetry = { version = "0.18.0", features = ["metrics", "rt-tokio"] }
opentelemetry-prometheus = { version = "0.11.0", features = ["prometheus-encoding"] }
prometheus = "0.13.3"
tower = "0.4.13"
futures-util = "0.3.27"
pin-project-lite = "0.2.9"

[dev-dependencies]
tokio = { version = "1.27.0", features = ["macros"] }
