[package]
name = "axum-otel-metrics"
version = "0.9.0-alpha.2"
edition = "2021"
license = "MIT"
description = "axum OpenTelemetry metrics middleware with prometheus exporter"
homepage = "https://ttys3.dev/"
repository = "https://github.com/ttys3/axum-otel-metrics/"
documentation = "https://docs.rs/axum-otel-metrics"
readme = "README.md"
exclude = [".github/*", "examples/*", "tests/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
axum = "0.7"
#axum = { git = "https://github.com/tokio-rs/axum.git", branch = "main"}
opentelemetry = { version = "0.26", features = ["metrics"] }
opentelemetry_sdk = { version = "0.25.0", features = ["rt-tokio"] }
opentelemetry-prometheus = { version = "0.17.0", features = [ "prometheus-encoding", ] }
opentelemetry-semantic-conventions = { version = "0.26.0" }
#opentelemetry = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", branch = "main", features = ["metrics", "rt-tokio"]}
#opentelemetry-prometheus = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", branch = "main", features = ["prometheus-encoding"] }
#opentelemetry-semantic-conventions = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", branch = "main"}

prometheus = "0.13.4"
tower = "0.5.1"
futures-util = "0.3.30"
pin-project-lite = "0.2.14"
http = "1.1.0"
http-body = "1.0.1"
opentelemetry-otlp = { version = "0.25.0", features = [ "metrics", "http-proto", "reqwest-client", ] }
opentelemetry-http = "0.26.0"


[dev-dependencies]
tokio = { version = "1.38", features = ["macros"] }

[patch.crates-io]
opentelemetry-prometheus = { git="https://github.com/ttys3/opentelemetry-rust.git", branch="opentelemetry-prometheus-sdk-0.25" }