[package]
name = "axum-metrics-demo"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
axum-otel-metrics = { path = "../../" }
#axum = { git = "https://github.com/tokio-rs/axum.git", branch = "main"}
axum = "0.6.19"
tokio = { version = "1.29.1", features = ["full", "tracing"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
rand = "0.8.5"
opentelemetry = "0.20.0"
#opentelemetry = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", branch = "main", features = ["metrics", "rt-tokio"]}
